.homeroute {
  color: var(--primary-color);
}

.homeroute-greeting-break {
  background-color: var(--primary-color);
  color: white;
  text-align: left;
}
.homeroute img {
  /* border-radius: 10px; */
  /* box-shadow: 5px 5px 5px gray; */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 15px;
}
.homeroute-intro-break {
  /* color: #637081; */
}
.homeroute-subheading {
  margin-top: 10px;
  color: black;
}
/* mobile view */
@media screen and (max-width: 700px) {
  .break {
    display: flex;
    margin: 0;
  }
  .homeroute h1 {
    font-size: 60px;
  }
  .homeroute h2 {
    font-size: 18px;
  }
  .homeroute p1 {
    font-size: 18px;
  }
  .homeroute-intro-break {
    /* border: 5px solid; */
    /* margin: auto; */
    padding: 30px 0;
  }
  .homeroute-about-break {
    /* border: 5px solid; */
    /* margin: auto; */
    padding: 30px 0;
  }
  .flex-container {
    display: block;
    /* border: 2px solid red; */
    margin: auto;
    text-align: center;
  }
  .heading-container {
    /* border: 4px solid blue; */
    box-sizing: border-box;
    text-align: left;
    padding: 30px 0px;
    width: 90%;
    margin: auto;
  }
  .homeroute-greeting {
    margin: auto;
    /* border: 3px solid green; */
    width: 90%;
    padding: 50px 0;
  }
  .homeroute-gif img {
    width: 90%;
  }
  .homeroute-headshot img {
    max-width: 400px;
    width: 90%;
  }
  .arrow {
    /* border: 1px solid red; */
    margin-top: 40px;
    margin-left: 15px;
  }
}
/* tablet view */
@media screen and (min-width: 700px) and (max-width: 1100px) {
  .break {
    display: flex;
    padding: 45px 0;
    margin: 0;
  }
  .homeroute h1 {
    font-size: 65px;
  }
  .homeroute h2 {
    font-size: 20px;
  }
  .homeroute p1 {
    font-size: 18px;
  }
  .homeroute-intro-break {
    /* border: 5px solid; */
    /* margin: auto; */
  }
  .flex-container {
    display: block;
    /* border: 2px solid red; */
    margin: auto;
    text-align: center;
  }
  .heading-container {
    width: 700px;
    /* border: 4px solid blue; */
    box-sizing: border-box;
    padding: 30px 50px;
    padding-top: 15px;
    text-align: left;
  }
  .homeroute-greeting {
    margin: auto;
    /* border: 3px solid green; */
    width: 80%;
  }
  .homeroute-headshot img {
    width: 100%;
  }
  .homeroute-headshot img {
    width: auto;
    height: 350px;
  }
  .arrow {
    /* border: 1px solid red; */
    margin-left: 15px;
  }
}
/* small desktop view */
@media screen and (min-width: 1100px) and (max-width: 1300px) {
  .break {
    display: flex;
    padding: 90px 20px;
  }
  .homeroute h1 {
    font-size: 65px;
  }
  .homeroute h2 {
    font-size: 25px;
  }
  .homeroute p1 {
    font-size: 18px;
  }
  .homeroute-intro-break {
    /* border: 5px solid; */
    /* margin: auto; */
  }
  .flex-container {
    /* border: 2px solid red; */
    margin: auto;
  }
  .heading-container {
    width: 400px;
    padding-top: 75px;
    padding-left: 0px;
  }
  .homeroute-intro-break .heading-container { 
    padding-right: 15px;
  }
  .homeroute-greeting {
    margin: auto;
    /* border: 3px solid green; */
    min-width: 600px;
    width: 800px;
  }
  .homeroute-gif img {
    width: auto;
    height: 350px;
  }
  .homeroute-headshot img {
    width: auto;
    height: 400px;
  }
  .homeroute-about-break .heading-container,.homeroute-header {
    padding-right: 0px;
  }
  .homeroute-about-break .heading-container {
    padding-left: 30px;
  }
  .arrow {
    /* border: 1px solid red; */
    margin-left: 15px;
  }
}
/* large desktop view */
@media screen and (min-width: 1300px) {
  .break {
    padding: 100px 0px;
  }

  /* heading-container */
  .heading-container {
    width: 500px;
    padding: 90px 0px;
    padding-bottom: 0;
    /* border: 1px solid red; */
  }
  .homeroute-about-break .heading-container {
    padding-left: 30px;
    padding-top: 55px;
  }
  .flex-container {
    /* border: 1px solid black; */
  }

  /* homeroute */
  .homeroute {
    /* border: 1px solid red; */
  }

  .homeroute h1 {
    font-size: 70px;
  }

  .homeroute h2 {
    font-size: 30px;
  }

  .homeroute p1 {
    font-size: 20px;
  }

  /* homeroute-intro */
  .homeroute-intro-break {
    display: inline-flex;
  }

  .homeroute-header-container {
    /* border: 3px solid green; */
  }

  .homeroute-header {
    font-size: 50;
  }

  .homeroute-subheading {
    /* border: 2px solid blue; */
  }

  .homeroute-headshot {
    /* border: 2px solid cyan; */
  }
  .homeroute-gif img {
    width: auto;
    height: 400px;
  }
  .homeroute-headshot img {
    width: auto;
    height: 400px;
  }

  /* homeroute greeting */
  .homeroute-greeting-break {}

  .homeroute-greeting {
    margin: auto;
    /* border: 3px solid green; */
    width: 1000px;
  }

  /* homeroute about */
  .homeroute-about-break {
    display: inline-flex;
  }
  .homeroute-about-break .heading-container,.homeroute-header {
    padding-right: 0px;
  }
  .arrow {
    /* border: 1px solid red; */
    margin-left: 15px;
  }
}