.App {
  font-family: Helvetica, sans-serif;
  box-sizing: border-box;
  margin: auto;
  /* margin-top: 25px; */
  /* border: 2px solid red; */
  width: 100%;
}
:root {
  --primary-color: #2b6777;
  --primary-color-light: #c8d8e4;
  --secondary-color: #52ab98;
  --accent-color: #f2f2f2;
}
/* reset preset styling */
.html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, a {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
.narrow {
  width: 50%;
}
a {
  text-decoration: none;
  color: inherit
}


.flex-container {
  /* border: 3px solid orange; */
  margin: auto;
  display: inline-flex;
  /* border: 2px solid red; */
  height: auto;
}

/* navigation */
.navigation {
  box-sizing: border-box;
  justify-content: center;
  display: inline-flex;
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
  width: 100%;
  color: black;
  text-decoration: none;
  position: -webkit-sticky;
  z-index: 110;
  position: sticky;
  top: 0px;
  background-color: white;
}
.navigation-links {
  font-size: 25px;
  width: 50%;
  margin: 10px 30px;
  /* border: 1px solid red; */
}

.navigation-link {
  /* border: 1px solid orange; */
  margin: 5px 8px;
  color: inherit;
  text-decoration: inherit;
}
.navigation-link:hover, .navigation-active {
  text-decoration: overline;
}

.navigation-icons {
  width: 50%;
  /* border: 1px solid blue; */
  text-align: right;
}

.navigation-icons img {
  margin: 0px;
  /* border: 1px solid black; */
  width: 35px;
}

#github {
  margin: 6px 15px;
}
#linkedin {
  margin: 4px;
  margin-right: 30px;
}
.break {
  /* border: 1px solid black; */
  width: 100%;
  box-sizing: border-box;
}

@media screen and (max-width: 520px) {
  .navigation {
    display: block;
    padding-top: 3px;
    text-align: center;
  }
  .navigation-icons, .navigation-links {
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}